node_modules
out
.DS_Store
.idea
.env
.env.example
coverage
.husky
.cache
.next
.artifacts
.vercel
.storybook
.github
.jest

repo-metadata.json

src/@types/subgraph
src/@types/apollo/
graphql.schema.json
src/@types/graph.types.ts
tsconfig.tsbuildinfo
__snapshots__
storybook-static